/* CSS 작성 */
.wrap {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 242px;
    width: 1020px;
}

/* 로고 */
header {
    margin-bottom: 48px;
    height: 40px;
}

/* 오늘의 발견 */
#today {
    height: 1010px;
    padding-top: 8px;
}

/* 오늘의 발견 타이틀 */
.title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.title h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 115%;
    color: var(--black);
}

.title span {
    font-size: 16px;
    font-weight: bold;
    color: var(--gray-600);
    margin: 0 10px;
}

.title h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 115%;
    color: var(--gray-600);
}

/* 오늘의 발견 이미지 */
.content {
    width: 1020px;
}
.content img {
    width: 100%;
    height: 100%;
}

.big,
.small {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
}

.no-right {
    margin-right: 0px;
}

.no-bot {
    margin-bottom: 0px;
}

.big {
    border: 1px solid var(--gray-500);
    width: 502px;
    height: 310px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.big > a {
    padding: 20px 28px;
}

.small {
    border: 1px solid var(--gray-500);
    width: 243px;
    height: 310px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.small > a {
    padding: 14px 24.99px 14px 23px;
}

/* 구매하기 */
.content-bt {
    width: 42px;
    height: 42px;
    background-color: rgba(0, 0, 0, 0.2);

    position: absolute;
    z-index: 10;
    top: 248px;
    left: 20px;
    transition: background-color 1s;
}

.content-bt svg {
    position: absolute;
    top: 16px;
    right: 18px;
}

/* hover, focus */

.wrap #today .content div:hover,
.wrap #today .content div:focus-within {
    border: 1px solid var(--blue-600);
}

.wrap #today .content div:hover .content-bt,
.wrap #today .content div:focus-within .content-bt {
    width: 112px;
    background-color: var(--blue-600);
    color: var(--white);
}

.wrap #today .content div:hover .content-bt::before,
.wrap #today .content div:focus-within .content-bt::before {
    content: "구매하기";
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;

    position: absolute;
    top: 12px;
    left: 20px;
}
